html, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  background: #233142;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;
}

#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app .container {
  width: 376px;
  height: 666px;
  z-index: 100;
  position: relative;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
}

#app .container-view {
  padding: 20px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.font-bold {
  font-weight: 600;
}

.between {
  justify-content: space-between;
}

.ml-2 {
  margin-left: 8px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex-1 {
  flex: 1 1 0%;
  display: flex;
}

.h-full {
  height: 100%;
}